* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* This means use rem (1rem = 10px) */
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  /* color: white; */
  /* background-color: black; */
  line-height: 1;
  font-size: 1.4rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(rgba(0, 0, 0, 1) 55%, rgba(50, 50, 50) 100%);
  font-family: "Sora", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.centerDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}

.centerDiv > button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid white;
  color: white;
  cursor: pointer;
  background-color: transparent;
}
/* Temp CSS delete later */

.fullPageLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: black;
}

.main_logo {
  width: 15rem;
  height: 15rem;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading_logo {
  animation: fade 2s infinite;
}
